$text-font-stack: 'Inter', 'Spoqa Han Sans KR', 'Spoqa Han Sans JP' !default;
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;
$system-font-stack: '-apple-system','BlinkMacSystemFont','Segoe UI','Helvetica','Arial','sans-serif','Apple Color Emoji','Segoe UI Emoji' !default;

$text-color: rgb(34, 34, 34) !default;
$brand-color-magenta: rgb(229, 0, 114) !default;
$brand-color-purple: rgb(30, 0, 27) !default;
$light-grey: rgb(237, 237, 237) !default;
$mid-grey: rgb(153, 153, 153) !default;
$dark-grey: rgb(68, 68, 68) !default;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1200px;
$breakpoint-xlg: 2160px;
