@import url(https://rsms.me/inter/inter.css);
@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);

body {
  font-feature-settings: 'case' 1, 'ss01' 1, 'cv08' 1, 'cv10' 1;
  font-family: $text-font-stack;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: keep-all;
}

a {
  text-decoration: none;
  color: inherit;
  :hover {
    text-decoration: underline;
  }
  :focus {
    outline: none;
  }
  
}



ul {
  list-style: none;
  padding: 0;
  margin: 0;
}