@import '../../assets/scss/variables';

.listentry {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &__title{
    margin: 0.25rem 0;
  }
  &__date{
    
  }
  &__desc{
    color: #666;
  }
}
