@import '../../assets/scss/variables';

.header {
  :not(:first-child) {
    margin-top: 0.5rem;
  }
  :first-child {
    margin-top: 0;
  }

  &__title {
    word-wrap: break-word;
    margin: 0;
  }

  &__meta {
    * {
      + ::before {
        content: ' • ';
      }
      font-weight: 600;
    }
    text-align: right;
  }

  hr {
    border: 0px;
    height: 0.5rem;
    background-color: $light-grey;
  }
}
