@import '../../assets/scss/variables';

.layout {
  display: grid;
  justify-items: center;

  margin: 8rem auto;
  padding: 0.5rem;
  max-width: 900px;
  @media screen and (max-width: $breakpoint-sm) {
    .sidebar {
      grid-row: 1/2;
    }
    .children {
      grid-row: 2/3;
    }
  }
  @media screen and (min-width: $breakpoint-sm) {
    grid-template-columns: 6.25rem 2.375rem minmax(min-content, 900px);
    .sidebar {
      grid-column: 1/2;
    }
    .children {
      grid-column: 3/4;
      max-width: 56.25rem;
    }
  }
}
