@import '../../assets/scss/variables';

.sidebar {
  .toggle {
    position: absolute;
    top: 2%;
    right: 2%;
    cursor: pointer;
  }

  ul {
  display: flex;
    gap: 0.25rem;
    @media screen and (max-width: $breakpoint-sm) {
      flex-direction: row;
    }
  @media screen and (min-width: $breakpoint-sm) {
    flex-direction: column;
      align-items: flex-end;
    }
  }
  a {
    font-size: 1.25rem;
    font-weight: 600;
  }
}

@media screen and (min-width: $breakpoint-sm) {
  .sidebar {
    .toggle {
      display: none;
    }
  }
}