@import '../../assets/scss/variables';

.body{
    &__html{
        font-size: 1.125rem;
        line-height: normal;
        font-weight: 400;
        h1,
        h2,
        h3,
        h4,
        h5 {
          content: '';
          display: block;
          padding-bottom: 0.3rem;
          border-bottom: 1px solid #BBB;
        }
    }
}